* {
  margin: 0;
  padding: 0; 
  font-family: 'Lora', sans-serif;
}

#principal {
  background-image: url("../img/happy-squarespace-developer-1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat; 
}

/*TITULOS*/
h2 {
  text-align: center;
  color: #041E4B;
  font-size: 2em;
  padding: 80px 50px;
  font-weight: bold; 
}

p {
  color: #523634;
}

footer i {
  color: #F4EADE; 
}

/*NAVBAR*/
.navbar {
  /*background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,120,253,0.8860586470916492) 100%) !important; */
  text-align: right;
  background-image: linear-gradient( 0.2deg,  rgba(51,204,255,1) 4.8%, rgba(51,102,255,1) 85.5% );  
}

nav a{
  font-weight: 600;
  color: #FFFFFF !important; 
  font-family: 'Raleway', sans-serif;
}

nav a:hover{
  color:darkblue !important;
}

.navbar-toggler-icon{
  color: #ffff !important;
}

/*.navbar-fixed {
  position: absolute;
  z-index: 999;
  height: 70px; }

.nav-trans {
  transition: all 1s ease; }*/

/*HOME*/
.photo {
  width: 100%;
  height: 700px;
  position: relative;
  background-image: linear-gradient(0deg, rgba(36,36,36, 0.8), rgba(29, 52, 90, 0.6)), url("../img/IMG_0169.JPG");
  background-size: cover;
  overflow: hidden; 
}
 
  .photo ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 1em; }
    .photo ul li a:hover{
      text-decoration: underline;
    }

  @media screen and (max-width: 500px) {
    .photo .photo ul li a {
      font-size: .5em; } 
    }

.photo-text {
  font-weight: bold;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }


.photo h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #FEFFFF;
  margin: 10px;
  cursor: pointer;
  position: relative;
  z-index: 998; }

.photo p {
  width: 60%;
  text-align: center;
  letter-spacing: 1.5px;
  color: #D7DADE;
  position: relative;
  z-index: 998; }

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -10px;
  position: relative;
  z-index: 999; 
}

#text-principal{
  width: 900px;
}

  .btn-inicio{
    border-radius: 40px;
    padding:10px;
    display: inline !important;
    width: 200px;
    margin: 10px;
  }
  .btn-inicio a{
    color: #fff;
    text-decoration: none;
  }

  .circle{
    width:40%;
    margin: auto;
    color: #FEFFFF;
  }

  .img{
    display: flex;
    justify-content: center;
    align-items: center;
  }

@keyframes slider {
  0% {
    left: 0;
    opacity: 0; }
  20% {
    left: 0;
    opacity: 1; }
  25% {
    left: -100%;
    opacity: .8; }
  45% {
    left: -100%;
    opacity: .8; }
  50% {
    left: -200%;
    opacity: .7; }
  70% {
    left: -200%;
    opacity: .7; }
  75% {
    left: -300%;
    opacity: .6; }
  95% {
    left: -400%;
    opacity: .6; }
  100% {
    left: -400%;
    opacity: 1; } }

/*sobre mi*/
#sobremi {
  padding-bottom: 0;
  margin-top: -30px;
  height: 100%; }

  #sobremi p {
    padding: 30px;
    font-size: 20px;
    width: 100%;
    border-radius: 15px; 
    text-align: left;
  }

/*HERRAMIENTAS*/
#skills {
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 0;
  margin-top: -27px;
  height: 400px;  
}

#skills div.infoher {
  opacity: 0;
  text-align: center;
  position: absolute;
  margin: 18px;
  top: 3px;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,120,253,0.8860586470916492) 100%);
}

  #skills div.infoher a {
    font-size: 0.75em;
    font-weight: 400;
    color: #fff;
    text-align: center; 
  }
 

#skills div.her {
  position: relative;
  background-color: #EEF3F5;
  margin: 8px;
  border-radius: 15px;
  width: 120px;
  height: 120px;
  padding:1%; }
  #skills div.her img {
    width: 100%; }
  #skills div.her:hover .infoher {
    opacity: 1;
    transform: scale(1.8, 1.8); }

  .herramientas{
    display: flex;
  justify-content: center;
  align-items: center;
  }

/*PROYECTOS*/
#proyectos {
  margin-top: -40px; }
 
  #proyectos .p1 {
    background-image: url("../img/pantallahope.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 400px;
   }
  #proyectos .p2 {
    background-image: url("../img/laboratoria.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 400px;}

    #proyectos .p3 {
      background-image: url("../img/biblioleo.PNG");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
      min-height: 400px;
     }
    #proyectos .p4 {
      background-image: url("../img/itau.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
      min-height: 400px;}
  /*#proyectos .cont{
    border-width: 2px;
    border-style: solid;
    border-color: #0dcaf0;
    border-radius: 1%;
    padding:5%;
    }*/
  #proyectos .cont{
    padding: 3%;
  }
  
  #proyectos .descripcion{
    flex-direction: column;
  }

  #proyectos h4{
    font-weight: 500;
    text-decoration: underline;
  }

  .botones{
    text-align: center;
  }

.work .col {
  display: flex;
  justify-content: flex-start; }

.work a {
  font-size: 1.2em; }

  /*AMO*/
  #amo{
    /*background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,120,253,0.8860586470916492) 100%) !important;*/
    height: 450px;
    clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
    background-image: linear-gradient( 0.2deg,  rgba(51,204,255,1) 4.8%, rgba(51,102,255,1) 85.5% );  }

  #amo h4, #amo h2{
    text-align: center;
    color: white;
  }

  #amo h4, #contadores h4{
    font-size: 1.2rem;
  }


  /*.vector{
    animation: rotacion 1s infinite linear;
    transform-origin: 50% 0%;

  }


  @keyframes rotacion{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }*/

  /*CONTADORES*/

  #contadores h4, .counter, #contadores h2{
    text-align: center;
    color: #FFFFFF;
  }

  .counter{
    font-size: 30px;
  }

  /*EMPRESAS*/
  #empresa{
    height: 400px;
  }
  .img-empresa{
    width:40%;
    margin:auto;
  }

  #laboratoria{
    width: 90% !important;
  }

/*CONTACTO*/
#contacto {
  background-image: url("../img/developer-iloveimg-cropped.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  text-align: center; }
  #contacto .fa {
    color: #476268;
    font-size: 3em;
    padding-left: 100px;
    margin-top: -50px; }
  #contacto p {
    text-align: center;
    color: #61708B;
    float: right;
    position: relative; }
  #contacto h2 {
    padding-top: 600px; }

/*FOOTER*/
footer {
  /*background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,120,253,0.8860586470916492) 100%) !important;*/
  clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
  height: 250px; 
  background-image: linear-gradient( 0.2deg,  rgba(51,204,255,1) 4.8%, rgba(51,102,255,1) 85.5% );  
}

  footer p {
    color: darkblue;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 32px;
     }
#mail{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

     .redes{
       height: 50px;
       width:50px;
       border-radius: 50px;
       border: #ffff 2px solid;
       margin: auto;
       display: flex;
       align-items: center;
     }
     .redes:hover{
       background-color: #fff;
     }

     footer i{
       font-size: 1.5em;
       color: #fff;
     }

     footer i:hover{
       color:darkblue;
     }

     .social{
       padding-top: 5%;
     }

#precontacto h2 {
  padding: 40px 50px 0px 50px; }

#postcontacto .fa {
  color: #476268;
  font-size: 3em; }
#postcontacto p {
  text-align: center; }

  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: -4em;
    overflow: hidden;
    width: 100%;
    height: 350px;
    background: #90d7ea;
    background: #f3f8f9;
    z-index: -1;
    -webkit-transform: skewY(
3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -o-transform: skewY(3deg);
    transform: skewY(
3deg);
  }
@media (max-width: 768px) {
  #postcontacto p {
    padding: 20px; } }
  
.banner-stories__item-wrapper .slick-dots li {
	cursor: pointer;
	display: inline-block;
	height: 15px;
	margin: 0 8px;
	position: relative;
	width: 15px;
}
	 
.banner-stories__item-wrapper .slick-dots li:last-child {
	margin-right: 0;
}
	 
	
.banner-stories h2{
  color: white;
  font-size: 2.2rem;
}

.banner-stories__item {
	background: white;
	box-shadow: 0 2px 10px #918D8D;
	margin: .5% .5% 1% .5%;
	opacity: .4;
	-o-transition: all 0.4s cubic-bezier(.55, .085, .68, .53);
	-webkit-transition: all 0.4s cubic-bezier(.55, .085, .68, .53);
	transition: all 0.4s cubic-bezier(.55, .085, .68, .53);
}
	 
.banner-stories__item .card {
	border: 0;
	border-radius: 0;
}
	 
.banner-stories__item .card-body {
	height: 100%;
	padding: 6%;
}
	 
.banner-stories__item .card-body p{
	font-size:1.2rem;
  line-height:1.6rem;
  padding-bottom:2%;
}

.banner-stories__item .card-body h4{
	font-size:1.3rem;
  text-align: center;
  padding-top: 2%;
}
	 
.banner-stories__item-wrapper .banner-stories__item.slick-current {
	opacity: 1 !important;
}
	 
.banner-stories__item-wrapper .slick-dots {
	bottom: 0;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 5;
}

.slider{
  position:relative;

}
.slide{
  position: absolute;
  opacity: 0;
}

.slide:first-child{
  opacity:1;
}

.slide:target{
  opacity:1;
}

#dicen ul {
  text-align: center;
  padding-top: 30%;
}

#dicen ul li{
  display: inline-block;
  text-align: center;
}

#dicen ul li a{
  display: inline-block;
  color:darkblue;
  text-decoration: none;
  background-color: rgba(51,204,255,1);
  border-radius: 50px;
  padding: 10px;
  width: 25px;
  height: 25px;
  font-size:14px;
  list-style: none;
  font-weight: 700;
  padding-top:1.5px;
  text-align: center;
}



#contadores{
  /*background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,120,253,0.8860586470916492) 100%) !important;*/
  height: 550px;
  clip-path: polygon(0 12%, 100% 0%, 100% 81%, 0 94%);
  background-image: linear-gradient( 0.2deg,  rgba(51,204,255,1) 4.8%, rgba(51,102,255,1) 85.5% );  
}

.caja{
  display: flex;
  align-items: center;
}

/*media queries*/
@media screen and (max-width: 950px) {
  .photo p {
    width: 90%; 
  }

  .grand-title {
    width: 90%; 
  }

  .text {
    flex-direction: column; 
  }

  .inner-content {
    flex-flow: column wrap; 
  }

  .boxy:nth-child(1), .boxy:nth-child(2) {
    width: 90%; 
  }

  .boxy:nth-child(1) {
    padding: 10px; 
  }

  #slider {
    margin-left: -55px; 
  } 
  }
@media only screen and (max-width: 600px) {
  label {
    display: block;
    cursor: pointer; 
  }
  h2{
    padding:50px;
  }
  #amo{
    height: 800px;
  } 
  #amo img, #contadores img{
    width:20%;
  }
  .box{
    margin-bottom: 10%;
  }
  #amo h2, #contadores h2{
    padding-top:25%;
  }

  #skills, #dicen {
    height:500px;
  }
  #contadores{
    height: 1050px;
  }
  #empresa h2{
    padding-top: 0px;
  }
  }
@media screen and (max-width: 500px) {
  #slider {
    margin-left: -55px; }

  .photo-text h4 {
    font-size: 45px; }

  .inner-text {
    width: 80%; 
  } 
  .botones{
    text-align: center;
  }
  #sobremi h4{
    font-size: 1.5em;
  }
  h2{
    padding-top: 25%;
  }
  #proyectos{
    height: 1850px;
  }
  .cont{
    margin-bottom: 12%;
  }
  #amo h2{
    padding-top: 30%;
  }
  #amo, #skills{
    height: 700px;
  }
  #dicen{
    height: 600px;
  }
  #contadores{
    height: 900px;
  }
  #sobremi h4{
    padding-top: 25%;
  }
  }

/*# sourceMappingURL=main.css.map */
