@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,900");
body {
  margin: 0;
  padding: 0;
  background-color: #FEFFFF;
  font-family: 'Raleway', sans-serif; }

/*MENU*/
.nav {
  text-align: right;
  height: 70px;
  position: relative;
  z-index: 999; }

.menu {
  margin: 0 30px 0 0; }

.menu a {
  clear: right;
  text-decoration: none;
  color: #FEFFFF;
  margin: 0 10px;
  line-height: 70px;
  letter-spacing: .9px;
  text-transform: uppercase;
  transition: all 250ms ease; }

@keyframes strike {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.strike {
  position: relative; }

.strike:hover:after {
  content: ' ';
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FEFFFF;
  animation-name: strike;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite; }

.menu h5 {
  margin: 0 30px;
  text-transform: uppercase;
  float: left;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 2px;
  position: relative;
  z-index: 999;
  color: #FEFFFF; }

label {
  margin: 0 20px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  color: #354757; }

#toggle {
  display: none; }

.fixed {
  background-color: #FEFFFF; }

.photo {
  width: 100%;
  height: 700px;
  position: relative;
  background: url("https://ncmedia.azureedge.net/ncmedia/2017/04/3000x1200.gif") center;
  background-size: cover;
  overflow: hidden; }
  .photo a, .photo p {
    font-family: 'Lato', sans-serif; }
  .photo h4 {
    font-family: 'Merriweather', serif; }

.photo-text {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;
  background: rgba(60, 63, 114, 0.6); }

.photo h4 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #FEFFFF;
  margin: 10px;
  cursor: pointer;
  position: relative;
  z-index: 998; }

.photo p {
  width: 60%;
  text-align: center;
  letter-spacing: 1.5px;
  color: #D7DADE;
  position: relative;
  z-index: 998; }

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -10px;
  position: relative;
  z-index: 999; }

input {
  font-family: 'Raleway', sans-serif; }

@media screen and (max-width: 950px) {
  .photo p {
    width: 90%; }

  .grand-title {
    width: 90%; }

  .text {
    flex-direction: column; }

  .inner-content {
    flex-flow: column wrap; }

  .boxy:nth-child(1), .boxy:nth-child(2) {
    width: 90%; }

  /*GENERA PROBLEMA*/
  .boxy:nth-child(1) {
    padding: 10px; }

  #slider {
    margin-left: -55px; } }
@media only screen and (max-width: 600px) {
  label {
    display: block;
    cursor: pointer; }

  .menu {
    text-align: center;
    width: 100%;
    display: none; }

  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    color: #6D85A8; }

  #toggle:checked + .menu {
    display: block;
    background-color: #FEFFFF; } }
@media screen and (max-width: 500px) {
  #slider {
    margin-left: -55px; }

  .photo-text h4 {
    font-size: 45px; }

  .inner-text {
    width: 80%; } }
@keyframes slider {
  0% {
    left: 0;
    opacity: 0; }
  20% {
    left: 0;
    opacity: 1; }
  25% {
    left: -100%;
    opacity: .8; }
  45% {
    left: -100%;
    opacity: .8; }
  50% {
    left: -200%;
    opacity: .7; }
  70% {
    left: -200%;
    opacity: .7; }
  75% {
    left: -300%;
    opacity: .6; }
  95% {
    left: -400%;
    opacity: .6; }
  100% {
    left: -400%;
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
